<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ログイン</title>
    <link rel="stylesheet" href="../static/css/base.css" th:href="@{'/css/base.css'}" />
    <link rel="stylesheet" href="../static/css/login_main.css" th:href="@{'/css/login_main.css'}" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script>
        $(function () {
            //ajaxで送信時にXSRF-TOKENをヘッダにつける
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader('X-XSRF-TOKEN', findXsrfTokenFromCookie());
            });

            $('#logout').click(function () {
                $.ajax({
                    url: '/logout',
                    method: 'post'
                }).done(function (data) {
                    window.location = '/';
                }).fail(function (data) {
                    alert("error");
                })
            });
        });

        //Cookieからトークンの情報を取得
        function findXsrfTokenFromCookie() {
            var cookie = document.cookie;
            var tokenHeader = "XSRF-TOKEN";
            var startPos = cookie.indexOf(tokenHeader + "=");
            if (startPos == -1) {
                return;
            }
            startPos += tokenHeader.length + 1;
            var endPos = cookie.indexOf(";", startPos);
            if (endPos == -1) {
                endPos = cookie.length;
            }
            return unescape(cookie.substring(startPos, endPos))
        }
    </script>
</head>
<body>
    <div id="bg-image" class="pst-a m0 p0">
        <img src="../static/img/haikei.jpg" 
             th:src="@{'/img/haikei.jpg'}"
             alt="背景" />
    </div>
    <article id="login_form" class="pst-a p15">
        <div class="login_inner">
            <!--サイトロゴ-->
            <div class="sitelogo pst-a">
                <img src="../static/img/site_logo.png"
                     th:src="@{'/img/site_logo.png'}"
                     alt="Site_logo" />
            </div>
            <!--ココまで-->
            <table id="form_table" class="mt180 tac" th:if="${principal == null}">
                <tbody>
                    <tr>
                        <td><a href="/login/yahoo"><img src="../static/img/SocialBtn_Yahoo.png"
                                                        th:src="@{'/img/SocialBtn_Yahoo.png'}" 
                                                        alt="Yahoo!アカウントでログイン" /></a></td>
                    </tr>
                    <tr>
                        <td><a href="/login/google"><img src="../static/img/SocialBtn_google.png"
                                                         th:src="@{'/img/SocialBtn_google.png'}" 
                                                         alt="Googleアカウントでログイン" /></a></td>
                    </tr>
                    <tr>
                        <td><a href="/login/facebook"><img src="../static/img/SocialBtn_fb.png"
                                                           th:src="@{'/img/SocialBtn_fb.png'}" 
                                                           alt="Facebookアカウントでログイン" /></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </article>
</body>
</html>
